@use "../../../_resources/scss/_variables.scss";

.container{
  width: 100%;
  background-color: variables.$background-medium;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  height: 100%;

  .data{
    width: 80%;
  }

  .payer{
    div{
      width: 100%;
      display: flex;
      align-content: center;
      svg{
        width: 34px;
        height: 34px;
        margin-right: 1rem;
      }

      div{
        display: flex;
        align-items: center;
      }
    }
  }

  .update{
    width: 20%;
    position: relative;

    a{
      height: 100%;

      div{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        svg{
          width: 34px;
          height: 34px;

          path{
            fill: variables.$color-accent;
          }
        }
      }
    }
  }

  .row1{
    display: flex;
    margin-bottom: 0.5rem;
    color: variables.$text;

    >div{
      width: 50%;
    }
  }


}