@font-face {
    font-family: "ROBOTO normal";
    src: url("app/src/app/_resources/_font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "ROBOTO header thin";
    src: url("/_fonts/Roboto-Thin.ttf");
}