$background-color: #000;
$background-medium: #333;
$background-light: #555;

$text: #fff;
$text-muted:#aaa;

$color-error: #ffadad;
$color-warning: #fdff6b;
$color-ok: #caffbf;

$color-accent: #9bf6ff;