@use "../../_resources/scss/_variables.scss";

.modal{
  background-color: variables.$background-medium;
  width: calc(100% - 2rem);
  z-index: 100;
  padding: 1rem;
  border-radius: 1rem;

  .backButton{
    background-color: transparent;
    border: none
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: variables.$background-medium;
    path{
      fill: variables.$color-accent;
    }
  }
}