
:root {
}

@font-face {
  font-family: "Roboto Normal";
  src: url("../app/public/_font/Roboto-Regular.ttf");
}
@font-face{
  font-family: "Roboto Bold";
  src: url("../app/public/_font/Roboto-Bold.ttf");
}
body{
  background-color: #000;
  color: #fff;
  font-family: "Roboto Normal";
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 1rem;
  *{
    margin: 0;
    padding: 0;
  }

  h1{
    font-family: "ROBOTO Bold";
  }

  h1,
  h2{
    margin-bottom: 1rem;
  }
}

